.navbar {
    box-shadow: 0 4px 2px -2px #eee;
}

.navbar .username {
    margin-right: 15px;
}

pre {
    padding: unset!important;
}

code {
    overflow-y: scroll;
    max-height: 500px;
}

.column.box {
    padding: 1.25rem;
}